<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getaway Mansion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <style>
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .button {
        width: 100px;
        height: 40px;
        margin: 5px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px; /* Adjust the margin as needed */
    }
    
    th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    input[type="radio"] {
        margin-right: 5px; /* Adjust the margin as needed */
    }

    </style>


</head>
<body>
    <!--NAVBAR-->
    <nav>
        <div class="logo">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" width="70px" height="auto;"></a>
        </div>
        <ul>
        <li><p>Welcome, {{ user_email }}</p></li>
        <li><a href="{{ url_for('logout') }}"><button class="bn1">Logout</button></a></li>
        </ul>
        <div class="menu">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
            <div class="menu-line"></div>
        </div>
    </nav>


    <div class="b-example-divider">&nbsp;</div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert" style="font-size: 18px;">
        {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert" style="font-size: 18px;">
        {{ message }}
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
        
    <div class="container">
        <h2 class="pb-2 border-bottom">Booking For Customer:</h2>
        <p>Title: {{ title }}</p>
        <p>Name: {{ firstname }} {{ lastname }} </p>
        <p>Email: {{ email }}</p>
        <p>Mobile Number: {{ mobile_number }}</p>
        <p>Country: {{ country }}</p>
        <p>City: {{ city }}</p>
    </div>

    <div class="b-example-divider">&nbsp;</div>
    <div class="container">
        <h2 class="pb-2 border-bottom">Select Room</h2>
        <p>Check-in Date: {{ checkin_date }}&nbsp;&nbsp;&nbsp;Check-out Date: {{ checkout_date }}</p>
        <form action="{{ url_for('customer_booking3', user_id=user_id) }}" method="POST">
        <table>
            <thead>
                <tr>
                    <th>Room Type</th>
                    <th>Remaining Rooms</th>
                    <th>Price</th>
                    <th>Adult Limit</th>
                    <th>Children Limit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if grouped_rooms %}
                {% for type, rooms in grouped_rooms.items() %}
                    <tr>
                        <td>{{ type }}</td>
                        <td>{{ rooms|length }}</td>
                        <td>
                            {% if rooms|length > 0 %}
                                {{ rooms[0].rate }}
                            {% endif %}
                        </td>
                        <td>
                            {% if rooms|length > 0 %}
                                {{ rooms[0].adultcount }}
                            {% endif %}
                        </td>
                        <td>
                            {% if rooms|length > 0 %}
                                {{ rooms[0].childrencount }}
                            {% endif %}
                        </td>
                        <td>
                            {% if rooms|length > 0 %}
                                <button type="submit" class="bn1" name="selectedRoomType" value="{{ type }}">Book Now</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6">No rooms available.</td>
                </tr>
            {% endif %}
        </tbody>
        </table>
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="checkin_date" value="{{ checkin_date }}">
        <input type="hidden" name="checkout_date" value="{{ checkout_date }}">
        <input type="hidden" name="duration" value="{{ duration }}">
    </form>
    <div class="b-example-divider">&nbsp;</div>
    <a href="{{ url_for('customer_dashboard') }}"><button class="bn1">Back to Dashboard</button></a>
    </div>


    <!--FOOTER SECTION-->
    <div class="b-example-divider">&nbsp;</div>
    <div class="container-fluid">
    <footer class="py-5" style(="background-color: #FFF7F5;")>
    <div class="row">
    <div class="col-6 col-md-3 mb-3">
    <h5 style="text-align: center;">The Getaway Mansion</h5>
    <p style="text-align: center;">Experience the epitome of luxury at Getaway Mansion, where every moment is a masterpiece, and every stay is a treasure</p>
    </div>

    <div class="col-6 col-md-2 mb-0 text-end">
    <h5 style="text-align: end;">Quick Links</h5>
    <ul class="nav flex-column">
    <li class="nav-item mb-2"><a href="{{ url_for('index') }}" class="nav-link p-0 text-body-secondary">Home</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('explore') }}" class="nav-link p-0 text-body-secondary">Explore</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('rooms') }}" class="nav-link p-0 text-body-secondary">Rooms</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('aboutus') }}" class="nav-link p-0 text-body-secondary">About Us</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('contactus') }}" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
    </ul>
    </div>

    <div class="col-12 col-md mb text-center">
    <h5 style="text-align: center;">Company</h5>
    <ul class="nav flex-column">
    <li class="nav-item mb-2"><a href="{{ url_for('privacypolicy') }}" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('refundpolicy') }}" class="nav-link p-0 text-body-secondary">Refund Policy</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('faq') }}" class="nav-link p-0 text-body-secondary">F.A.Q</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('aboutus') }}" class="nav-link p-0 text-body-secondary">About Us</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('contactus') }}" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
    </ul>
    </div>

    <div class="col-12 col-md mb text-center">
    <p class="text-center text-md-end"><a href="#">Back to top</a></p>
    </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top text-center mx-auto">
    <p class="text-center text-md-center mx-auto">&copy; 2023 The Getaway Mansion, Inc. All rights reserved.</p>
    </div>
    </div>
    </footer>

    <script src="main.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
    function bookRoom(roomType) {
        // Assuming you have a hidden input for the selected room type
        document.getElementById('selectedRoomType').value = roomType;
        // Submit the form
        document.getElementById('bookingForm').submit();
    }
    </script>

</body>
</html>
