<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Getaway Mansion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <!--NAVBAR-->
    <nav>
    <div class="logo">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" width="70px" height="auto;"></a>
    </div>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('explore') }}">Explore</a></li>
        <li><a href="{{ url_for('rooms') }}">Rooms</a></li>
        <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
        <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('signup') }}" class="bn1">Sign Up</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('login') }}" class="bn1">Login</a></li>
    </ul>
    <div class="menu">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
    </nav>

    <!---REFUND POLICY SECTION-->
    <div class="b-example-divider">&nbsp;</div>
    <div class="container">
    <h2 class="pb-2 border-bottom">Refund Policy</h2>
    <p class="subtext" style="text-align: center; font-size: 1.5em; font-weight: bold;">Kindly read the following very carefully!</p><br />
    <p class="text-body-secondary" style="text-align: justify;">At The Getaway Mansion, we strive to ensure every guest enjoys a remarkable experience. If, for any reason,
        you're not fully satisfied with your stay, we're committed to working with you to find a solution.</p>
    <br>
    <p class="subtext" style="text-align: center; font-size: 1.5em; font-weight: bold;">Refund Eligibility: </p><br />
    <p class="text-body-secondary" style="text-align: justify;">Cancellations:
        Cancellations made 72 hours or more prior to the arrival date are eligible for a full refund, minus any applicable processing fees.
        Cancellations made within 72 hours of the arrival date will forfeit the first night's room rate.
        No-shows or early departures will be charged the full amount of the reservation.</p>
    <br>
    <p class="text-body-secondary" style="text-align: justify;">Shortened Stays:
        If you depart early for reasons beyond our control, we'll refund the remaining nights of your stay, excluding the first night and any applicable processing fees.</p>
    <br>
    <p class="text-body-secondary" style="text-align: justify;">Refundable Rates: Only reservations booked under refundable rates are eligible for refunds.</p>
    <br>
    <p class="subtext" style="text-align: center; font-size: 1.5em; font-weight: bold;">Refund Process: </p><br />
    <p class="text-body-secondary" style="text-align: justify;">Contact us immediately to initiate the refund process.
        Provide your booking confirmation number and reason for cancellation or refund request.
        We'll review your request and process your refund within 5-7 business days.</p>
    <br>
    <p class="subtext" style="text-align: center; font-size: 1.5em; font-weight: bold;">Non-Refundable Circumstances: </p><br />
    <p class="text-body-secondary" style="text-align: justify;">Special Events or Packages:
        Certain packages or events may have specific refund policies. Please refer to the terms and conditions of your booking for details.
        <br>
        Force Majeure:
        Refunds may not be granted for cancellations or disruptions due to events beyond our control, such as natural disasters, government restrictions, or unforeseen circumstances.</p>
    <br>
    <p class="subtext" style="text-align: center; font-size: 1.5em; font-weight: bold;">Contact Us: </p><br />
    <p class="text-body-secondary" style="text-align: justify;">If you have any questions or concerns about our Refund Policy, please contact us. 
    <br><br>
        This policy is subject to change without notice.<br>
        We reserve the right to make decisions regarding refunds on a case-by-case basis.<br>
        All refunds will be processed in the original form of payment.
    </p>
    </div>


    <!--FOOTER SECTION-->
    <div class="b-example-divider">&nbsp;</div>
    <div class="container-fluid">
    <footer class="py-5" style(="background-color: #FFF7F5;")>
    <div class="row">
    <div class="col-6 col-md-3 mb-3">
    <h5 style="text-align: center;">The Getaway Mansion</h5>
    <p style="text-align: center;">Experience the epitome of luxury at Getaway Mansion, where every moment is a masterpiece, and every stay is a treasure</p>
    </div>

    <div class="col-6 col-md-2 mb-0 text-end">
    <h5 style="text-align: end;">Quick Links</h5>
    <ul class="nav flex-column">
    <li class="nav-item mb-2"><a href="{{ url_for('index') }}" class="nav-link p-0 text-body-secondary">Home</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('explore') }}" class="nav-link p-0 text-body-secondary">Explore</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('rooms') }}" class="nav-link p-0 text-body-secondary">Rooms</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('aboutus') }}" class="nav-link p-0 text-body-secondary">About Us</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('contactus') }}" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
    </ul>
    </div>

    <div class="col-12 col-md mb text-center">
    <h5 style="text-align: center;">Company</h5>
    <ul class="nav flex-column">
    <li class="nav-item mb-2"><a href="{{ url_for('privacypolicy') }}" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('refundpolicy') }}" class="nav-link p-0 text-body-secondary">Refund Policy</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('faq') }}" class="nav-link p-0 text-body-secondary">F.A.Q</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('aboutus') }}" class="nav-link p-0 text-body-secondary">About Us</a></li>
    <li class="nav-item mb-2"><a href="{{ url_for('contactus') }}" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
    </ul>
    </div>

    <div class="col-12 col-md mb text-center">
    <p class="text-center text-md-end"><a href="#">Back to top</a></p>
    </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top text-center mx-auto">
    <p class="text-center text-md-center mx-auto">&copy; 2023 The Getaway Mansion, Inc. All rights reserved.</p>
    </div>
    </div>
    </footer>

    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>